@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900;
  @apply text-white;
}

.form-field-heading {
  @apply text-xl;
  @apply font-semibold;

}

.default-border {
  @apply border-neutral-500;
  border-width: 0.5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.glow-button {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.5s ease;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
}

.glow-button.glow {
  animation: glowAnimation 3s infinite; /* Adjust the interval (3s in this case) */
}

@keyframes glowAnimation {
  0% {
      box-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
  }
  50% {
      box-shadow: 0 0 20px rgba(0, 255, 0, 1);
  }
  100% {
      box-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
  }
}
